/* Parent Container */
.content_img{
    position: relative;
}

/* Child Text Container */
.content_img a {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    background: red;
    color: white;
    margin-bottom: 5px;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    transition: visibility 0s, opacity 0.5s linear;
}

/* Hover on Parent Container */
.content_img:hover{
    cursor: pointer;
}

.content_img:hover a{
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.8;
}
